@use "../abstracts" as abs;

// HEADER BUTTONS
.header {
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3.4rem;
	}

	&__button-1 {
		cursor: pointer;
		border: none;
		width: 23.6rem;
		padding: 1.6rem 0;
		border-radius: 3rem;
		background-color: abs.$cl-orange;

		@include abs.textStyle(
			abs.$cl-white-1,
			abs.$ff-mont,
			abs.$fs-medium,
			abs.$fw-large,
			3.6rem,
			0.1px
		);

		@include abs.transition;

		&:hover {
			@include abs.btnBoxShadow-1;
		}
	}

	&__button-2 {
		cursor: pointer;
		background-color: transparent;
		border: 1px solid abs.$cl-white-1;
		width: 23.6rem;
		padding: 1.6rem 0;
		border-radius: 3rem;

		@include abs.textStyle(
			abs.$cl-white-1,
			abs.$ff-mont,
			abs.$fs-medium,
			abs.$fw-large,
			3.6rem,
			0.1px
		);

		@include abs.transition;

		&:hover {
			@include abs.btnBoxShadow-2;
		}
	}
}

// SECTION-DL BUTTONS
.section-dl__buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
}

.section-dl__button-1 {
	cursor: pointer;
	border: none;
	width: 14.2rem;
	padding: 1.8rem 3.1rem;
	border-radius: 1rem;
	background-color: abs.$cl-orange;

	@include abs.textStyle(
		abs.$cl-white-1,
		abs.$ff-mont,
		abs.$fs-semi-small,
		abs.$fw-large,
		2.8rem,
		0.2px
	);

	@include abs.transition;

	&:hover {
		@include abs.btnBoxShadow-1;
	}
}

.section-dl__button-2 {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid abs.$cl-white-1;
	width: 17.5rem;
	padding: 1.6rem 4.5rem;
	border-radius: 1rem;

	@include abs.textStyle(
		abs.$cl-white-1,
		abs.$ff-mont,
		abs.$fs-semi-small,
		abs.$fw-large,
		2.8rem,
		0.2px
	);

	@include abs.transition;

	&:hover {
		@include abs.btnBoxShadow-2;
	}

	@include abs.respond(59.373em) {
		width: 18.5rem;
	}
}
