@use "../abstracts" as abs;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include abs.respond(59.373em) {
		font-size: 56.25%;
	}

	@include abs.respond(45.625em) {
		font-size: 50%;
	}
}

body {
	overflow-x: hidden;
}
