@use "../abstracts" as abs;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

body {
	font-family: abs.$ff-mont;
}

// FOR HEADER
.heading {
	&__primary--main {
		display: block;
		margin: 1.7rem auto;
		max-width: 93rem;
		@include abs.textStyle(
			abs.$cl-white-1,
			abs.$ff-poppins,
			abs.$fs-extra-large,
			abs.$fw-large,
			8rem,
			0.2px
		);
	}

	&__primary--sub {
		display: block;
		@include abs.textStyle(
			abs.$cl-white-2,
			abs.$ff-mont,
			abs.$fs-medium,
			abs.$fw-large,
			3.6rem,
			0.1px
		);
	}

	&__secondary {
		margin-bottom: 4.8rem;
		@include abs.textStyle(
			abs.$cl-white-2,
			abs.$ff-mont,
			abs.$fs-medium,
			abs.$fw-medium,
			3.8rem,
			0.2px
		);
	}
}

// FOR SECTION-HOW
.heading__secondary--how {
	text-align: center;

	@include abs.textStyle(
		abs.$cl-black,
		abs.$ff-poppins,
		abs.$fs-semi-large,
		abs.$fw-semi-large,
		3.6rem,
		0.1px
	);
}

.heading__tertiary--how {
	@include abs.textStyle(
		abs.$cl-orange,
		abs.$ff-mont,
		abs.$fs-medium,
		abs.$fw-large,
		3.6rem,
		0.1px
	);
}

.heading__quaternary--how {
	@include abs.textStyle(
		abs.$cl-very-dark-blue,
		abs.$ff-mont,
		abs.$fs-large,
		abs.$fw-large,
		5.7rem,
		0.2px
	);
}

.paragraph--how {
	@include abs.textStyle(
		abs.$cl-grey-1,
		abs.$ff-mont,
		abs.$fs-medium,
		abs.$fw-medium,
		3.8rem,
		0.2px
	);
}

// FOR SECTION-DOWNLOAD
.heading__secondary--dl {
	margin-bottom: 2rem;

	@include abs.textStyle(
		abs.$cl-white-1,
		abs.$ff-mont,
		abs.$fs-large,
		abs.$fw-large,
		5.7rem,
		0.2px
	);
}

.paragraph--dl {
	margin-bottom: 5.4rem;

	@include abs.textStyle(
		abs.$cl-white-1,
		abs.$ff-mont,
		abs.$fs-medium,
		abs.$fw-medium,
		5.7rem,
		0.2px
	);
}
