@use "../abstracts" as abs;

// THE HORIZONTAL RULE BEFORE THE SECTION-HOW
.horizontal-rule {
	border: 1px solid abs.$cl-white-3;
	margin: 59rem auto 7.2rem;
	height: 1px;
	width: 60vw;

	@include abs.respond(30.0625em) {
		margin-top: 65rem;
		border: none;
	}
}

// SECTION-HOW
.how {
	text-align: center;

	&__picture {
		@include abs.respond(59.373em) {
			width: 26.9rem;
			height: 52.5rem;
		}

		@include abs.respond(30.0625em) {
			width: 302px;
			height: 525px;
		}
	}

	// TODO: CHECK THIS OUT AGAIN
	&__instruction {
		margin-top: 10rem;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		&:first-child,
		&:last-child {
			@include abs.respond(30.0625em) {
				flex-direction: column-reverse;
			}
		}

		@include abs.respond(30.0625em) {
			flex-direction: column;
		}

		&-preview {
			@include abs.dropShadowFilter-1;
		}

		&-text-container {
			text-align: left;
			max-width: 56.1rem;
			display: flex;
			flex-direction: column;
			gap: 1.8rem;

			@include abs.respond(30.0625em) {
				text-align: center;
				gap: 3.8rem;
			}
		}
	}
}

// SECTION-DOWNLOAD
.section__download {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 51.6rem;
	margin-top: 16rem;
	text-align: center;
	background: url(../../images/bg-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-attachment: fixed;
	padding: 10% 0;

	@include abs.respond(59.373em) {
		height: 45.6rem;
	}

	@include abs.respond(45.625em) {
		background: abs.$cl-very-dark-blue;
	}
}
