@use "../abstracts" as abs;

// THE HORIZONTAL RULE BEFORE THE SECTION-HOW
.horizontal-rule {
	border: 1px solid abs.$cl-white-3;
	margin: 59rem auto 7.2rem;
	height: 1px;
	width: 60vw;
}

// SECTION-HOW
.how {
	text-align: center;

	&__picture {
		@include abs.respond(59.373em) {
			width: 26.9rem;
			height: 52.5rem;
		}
	}

	&__picture:not(:last-child) {
		@include abs.respond(45.625em) {
			margin-bottom: 2rem;
		}
	}

	&__instruction {
		margin-top: 10rem;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		@include abs.respond(45.625em) {
			flex-direction: column;
		}

		&-preview {
			@include abs.dropShadowFilter-1;
		}

		&-text-container {
			text-align: left;
			max-width: 56.1rem;
			display: flex;
			flex-direction: column;
			gap: 1.8rem;
		}
	}
}

// SECTION-DOWNLOAD
.section__download {
	height: 51.6rem;
	margin-top: 16rem;
	text-align: center;
	background: url(../../images/bg-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-attachment: fixed;
	padding: 10% 0;

	@include abs.respond(59.373em) {
		height: 45.6rem;
	}
}
