@use "variables" as var;

@mixin transition {
	transition: all 0.2s;
}

@mixin btnBoxShadow-1 {
	box-shadow: 0 1rem 3rem rgba(var.$cl-brown, 0.5);
}

@mixin btnBoxShadow-2 {
	box-shadow: 0 1rem 3rem rgba(var.$cl-white-1, 0.5);
}

@mixin dropShadowFilter-1 {
	-webkit-filter: drop-shadow(5rem 3rem 15rem rgba(46, 4, 4, 0.21));
	filter: drop-shadow(5rem 3rem 15rem rgba(46, 4, 4, 0.21));
}

@mixin dropShadowFilter-2 {
	-webkit-filter: drop-shadow(4px 4px 8px rgba(183, 50, 39, 0.5));
	filter: drop-shadow(4px 4px 8px rgba(183, 50, 39, 0.5));
}

@mixin textStyle($col, $ff, $fs, $fw, $lh, $ls) {
	color: $col;
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
}

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		@content;
	}
}
