// FONT-FAMILY
$mont: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

// FONT-WEIGHTS
$small: 400;
$medium: 500;
$semi-large: 600;
$large: 700;

// COLOR
$very-dark-blue: #252b42;
