// FONT-FAMILY
$ff-mont: "Montserrat", sans-serif;
$ff-poppins: "Poppins", sans-serif;
$ff-roboto: "Roboto", sans-serif;

// FONT-WEIGHTS
$fw-small: 400;
$fw-medium: 500;
$fw-semi-large: 600;
$fw-large: 700;

// FONT-SIZE
$fs-small: 1.2rem;
$fs-semi-small: 1.6rem;
$fs-medium: 2.4rem;
$fs-large: 4rem;
$fs-semi-large: 4.4rem;
$fs-extra-large: 5.8rem;

// FOR MEDIA QUERY FONT-SIZE
$mq-fs-medium: 2.2rem;
$mq-fs-semi-large: 3.6rem;

// COLOR
$cl-very-dark-blue: #252b42;
$cl-black: #000;
$cl-orange: #fa4a0c;
$cl-white-1: #fff;
$cl-white-2: #f6f6f6;
$cl-white-3: #e4e4e4;
$cl-grey-1: #737373;
$cl-grey-2: #5c5c5c;
$cl-brown: rgb(183, 50, 39);
