@use "../abstracts/" as abs;

.header {
	height: 61.9rem;
	text-align: center;
	background: url(../../images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: 50%;
	background-attachment: fixed;

	@include abs.respond(45.625em) {
		background: abs.$cl-white-4;
	}

	&__content {
		padding-top: 7.3rem;
	}

	&__phones {
		@include abs.respond(45.625em) {
			background: abs.$cl-white-4;
		}
	}

	&__phone {
		@include abs.dropShadowFilter-1;

		@include abs.respond(59.373em) {
			width: 60rem;
			height: 65rem;
		}

		@include abs.respond(45.625em) {
			width: 43.9rem;
			height: 57rem;
		}
	}
}

// FIXING THE JUMP WHEN POSITION STICKY IS ADDED TO THE BODY
.sticky .header {
	margin-top: 11rem;

	@include abs.respond(59.373em) {
		margin-top: 12.22222222222222rem;
	}

	@include abs.respond(45.625em) {
		margin-top: 11rem;
	}
}
