@use "../abstracts" as abs;

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.6121rem 4rem 2.8121rem 7rem;

	& a {
		display: block;
	}

	&__logo {
		width: 20.6rem;
		height: 10.1758rem;
	}

	&__links {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 9.4rem;
		font-size: abs.$fs-semi-small;

		@include abs.respond(59.373em) {
			gap: 5.4rem;
		}
	}

	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: abs.$cl-very-dark-blue;
		font-weight: abs.$fw-semi-large;
		@include abs.transition;
	}

	&__link:hover,
	&__link:active {
		color: abs.$cl-orange;
	}
}
