@use "../abstracts" as abs;

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.6121rem 4rem 2.8121rem 7rem;
	background-color: abs.$cl-white-1;
	height: 11rem;
	position: relative;

	@include abs.respond(30.0625em) {
		padding: 1rem;
	}

	& a {
		display: block;
	}

	&__logo {
		width: 20.6rem;
		height: 10.1758rem;

		@include abs.respond(30.0625em) {
			width: 10.4rem;
			height: 5.137rem;
		}
	}

	&__links {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 9.4rem;
		font-size: abs.$fs-semi-small;

		@include abs.respond(59.373em) {
			gap: 5.4rem;
		}

		// FOR NAV TOGGLE BUTTON
		@include abs.respond(45.625em) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba(abs.$cl-white-1, 0.95);
			z-index: 100;
			flex-direction: column;
			font-size: abs.$mq-fs-semi-large;
			gap: 3.6rem;
			@include abs.transition;

			// HIDING THE NAVIGATION BY DEFAULT
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			transform: translateX(100%);
		}
	}

	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: abs.$cl-very-dark-blue;
		font-weight: abs.$fw-semi-large;
		@include abs.transition;
	}

	&__link:hover,
	&__link:active {
		color: abs.$cl-orange;
	}

	// WHEN VP WIDTH IS  AT 45.625em (< 730PX) SHOW TOGGLE BUTTON
	&__toggle {
		@include abs.respond(45.625em) {
			display: block;
		}
	}
}

// FIXING THE JUMP WHEN POSITION STICKY IS ADDED TO THE BODY
.sticky .nav {
	@include abs.respond(59.373em) {
		height: 12.22222222222222rem;
	}

	@include abs.respond(45.625em) {
		height: 11rem;
	}
}
